@import url(../assets/fonts/Manrope/static/Manrope-Medium.ttf);

@import url(../assets/fonts/Manrope/static/Manrope-Regular.ttf);


@font-face {
    font-family: "Manrope Medium";
    font-style: normal;
    src: url(../assets/fonts/Manrope/static/Manrope-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Manrope Regular";
    font-style: normal;
    src: url(../assets/fonts/Manrope/static/Manrope-Regular.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--c-default-text);
    font-family: Manrope Medium;
}

:root {
    --default-width: 85vw;
    --max-width: 85rem;

    --medium-radius: 35px;
    --small-radius: 15px;

    --medium-size: 1.5rem;
    --large-size: 2rem;
    --larger-size: 3.5rem;

    --c-default-text: #342C33;
    --c-text-gradient: linear-gradient(93.17deg, #F389BA 3.05%, #4DC9FF 80.27%);
    --c-header-gradient: linear-gradient(287.32deg, #FFDAEB 27.79%, #98DFFE 108.92%);
    --c-mid-pink: #F389BA;
    --c-pink: #F72585;
    --c-light-pink: #FFF0F7;
    --c-blue: #98DFFE;

    --border: 1.5px solid #342C33;
    --box-shadow: 0px 3px 0px #342C33;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--medium-size);
    gap: var(--larger-size);
}

h1,
h3 {
    font-size: var(--medium-size);
    line-height: 110%;
}

h2 {
    font-family: Manrope Regular;
    line-height: 100%;
    letter-spacing: -0.02em;
}

h3 {
    font-size: var(--large-size);
}

p {
    line-height: 145%;
}

button {
    all: unset;
}

.noscroll {
    overflow: hidden;
}

.accent {
    font-family: Manrope Regular;
    background: var(--c-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#welcome {
    display: grid;
    gap: var(--medium-size);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: var(--default-width);
    max-width: var(--max-width);
}

#projects {
    display: grid;
    gap: var(--medium-size);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: var(--default-width);
    max-width: var(--max-width);
}

#tech-stack {
    display: grid;
    gap: var(--medium-size);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: var(--default-width);
    max-width: var(--max-width);
}

.me {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
}

.me ul {
    display: flex;
    list-style: none;
    gap: var(--large-size);
    padding: 0;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .profile-pic {
    position: relative;
}

.profile .profile-pic p {
    position: absolute;
    left: -2.5rem;
    bottom: -.5rem;
    font-size: 3rem;
    transform-origin: bottom;
    animation: wave 1s infinite;
}

.photo {
    border-radius: 50%;
}

.fullname {
    width: 5rem;
}

.headline {
    font-size: var(--larger-size);
    width: 15rem;
}

#welcome .headline {
    grid-row: 2 / 3;
}

#tech-stack .headline {
    width: 12rem;
    grid-row: 1 / 2;
}

.short-bio {
    display: flex;
    flex-direction: column;
    gap: var(--medium-size);
    grid-row: 3 / 4;
}

.project-container {
    position: relative;
    width: 100%;
    aspect-ratio: 5/4;
}

.project-container .project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: inset(0% 0 0% 0% round var(--medium-radius));
    transition: 1s;
}

/* TODO algemene verwijzing */
.featured {
    position: relative;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.data {
    position: absolute;
    display: flex;
    gap: .5rem;
    width: 100%;
    justify-content: space-between;
    padding: var(--medium-size);
    z-index: 1;
}

.data>* {
    padding: .7rem 1rem;
    background-color: white;
    color: var(--c-default-text);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--small-radius);
}

.data .link {
    margin-left: auto;
}

.project .data {
    pointer-events: none;
}

.buttons {
    display: flex;
    gap: var(--medium-size);
}

.buttons>* {
    text-decoration: none;
    padding: 12px 18px;
}

.buttons .primary {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--small-radius);
}

.buttons .secondary {
    position: relative;
    padding-left: 0;
}

.buttons .secondary::before {
    display: block;
    position: relative;
    bottom: -100%;
    content: '';
    height: 2px;
    width: calc(100% + 1.4em);
    background: var(--c-default-text);
}

.buttons .secondary::after {
    position: absolute;
    content: '->';
    right: -.1em;
    top: .9em;
}

.buttons .secondary:hover::after {
    animation: point .7s infinite alternate;
}

.fullscreen {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s, visibility 0s;
    z-index: 1;
}

.fullscreen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#tech-stack .buttons {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none;
    grid-row: 2 / 3;
    gap: 1rem;
}

#tech-stack .buttons * {
    height: fit-content;
}

#tech-stack p {
    grid-row: 3 / 4;
}

#projects .project {
    position: relative;
    width: 100%;
    aspect-ratio: 5/4;
    overflow: hidden;
}

#projects .project img {
    position: absolute;
    height: 100%;
}

.open {
    visibility: visible;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes open {
    from {
        
    }
}

/* .open {
    display: block;
    animation: fill 1s forwards;
}

.close {
    animation: fill-reverse .4s forwards;
}

.closed {
    clip-path: circle(0rem at inherit inherit);
} */

@keyframes fill-reverse {
    from {
        clip-path: circle(100%);
    }

    to {
        clip-path: circle(0rem at inherit inherit);
    }
}

@keyframes fill {
    from {
        clip-path: circle(0rem at inherit inherit);
    }

    to {
        clip-path: circle(100%);
    }
}

@keyframes point {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(.2em);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);

    }
}

@media only screen and (min-width: 775px) {
    #welcome {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4vw;
    }

    #projects {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(15, 1fr);
        column-gap: 20px;
    }

    #project-container {
        aspect-ratio: initial;
    }

    #projects #artefacts {
        grid-column: 1 / 6;
        grid-row: 1 / 4;
    }

    #projects #feminina {
        grid-column: 7 / 12;
        grid-row: 2 / 5;
    }

    #projects #featured {
        grid-column: 2 / 9;
        grid-row: 6 / 10;
    }

    #projects #lets-talk {
        grid-column: 10 / 13;
        grid-row: 7 / 9;
    }

    #projects #anti-pop {
        grid-column: 2 / 7;
        grid-row: 12 / 15;
    }

    #projects #heritage-museum {
        grid-column: 8 / 13;
        grid-row: 11 / 14;
    }

    #projects #load-more {
        grid-column: 2 / 4;
        grid-row: 15 / 16;
        height: fit-content;
    }

    hr {
        grid-column: span 2;
    }

    .me {
        margin-top: auto;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .headline {
        font-size: 4.5rem;
        width: 17rem;
    }

    #welcome .headline {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tech-stack .headline {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tech-stack #tools {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #tech-stack .buttons {
        justify-content: center;
        max-width: 40rem;
    }

    #tech-stack p {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .short-bio {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-width: 25rem;

    }

    #welcome h3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-top: auto;
    }
}