@import url(../assets/fonts/Manrope/static/Manrope-Medium.ttf);

@import url(../assets/fonts/Manrope/static/Manrope-Regular.ttf);


@font-face {
    font-family: "Manrope Medium";
    font-style: normal;
    src: url(../assets/fonts/Manrope/static/Manrope-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Manrope Regular";
    font-style: normal;
    src: url(../assets/fonts/Manrope/static/Manrope-Regular.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--c-default-text);
    font-family: Manrope Medium;
    /* font-weight: 600; */
}

:root {
    --default-width: 85vw;
    --max-width: 75rem;
    --medium-radius: 35px;
    --medium-size: 1.5rem;
    --large-size: 2rem;
    --larger-size: 3.5rem;

    --c-default-text: #342C33;
    --c-text-gradient: linear-gradient(93.17deg, #F389BA 3.05%, #4DC9FF 80.27%);
    --c-header-gradient: linear-gradient(287.32deg, #FFDAEB 27.79%, #98DFFE 108.92%);
    --c-mid-pink: #F389BA;
    --c-pink: #F72585;
    --c-light-pink: #FFF0F7;
    --c-blue: #98DFFE;

}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0 var(--medium-size);
}

h1, h3 {
    font-size: var(--medium-size);
    /* font-weight: 500; */
    line-height: 110%;
}

h2 {
    font-family: Manrope Regular;
    line-height: 100%;
    letter-spacing: -0.02em;
}

h3 {
    /* font-weight: 600; */
    font-size: var(--large-size);
}

p {
    line-height: 145%;
}

.accent {
    font-family: Manrope Regular;
    background: var(--c-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#welcome {
    display: grid;
    gap: var(--large-size);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: var(--default-width);
    max-width: var(--max-width);
}

.me {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
}

.me ul {
    display: flex;
    list-style: none;
    gap: var(--large-size);
    padding: 0;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .profile-pic {
    position: relative;
}

.profile .profile-pic p {
    position: absolute;
    left: -2.5rem;
    bottom: -.5rem;
    font-size: 3rem;
    transform-origin: bottom;
    animation: wave 1s infinite;
}

.photo {
    border-radius: 50%;
}

.fullname {
    width: 5rem;
}

/* .introduction {
    display: flex;
    flex-direction: column;
    gap: var(--medium-size);
}

.introduction .short-bio {
    display: flex;
    flex-direction: column;
    gap: var(--medium-size);
}

.introduction h2 {
    font-weight: 600;
    font-size: var(--large-size);
    width: 15rem;
} */

.headline {
    font-size: var(--larger-size);
    width: 15rem;
    grid-row: 2 / 3;
}

.short-bio {
    display: flex;
    flex-direction: column;
    gap: var(--medium-size);
    grid-row: 3 / 4;
}

.featured {
    width: 100%;
    aspect-ratio: 5 / 4;
    object-fit: cover;
    border-radius: var(--medium-radius);
}

#welcome h3 {}

.action-buttons {
    display: flex;
    gap: .5rem;
}

.action-buttons a {
    text-decoration: none;
    padding: 12px 18px;
}

.action-buttons .primary {
    border: 1.5px solid #342C33;
    box-shadow: 0px 3px 0px #342C33;
    border-radius: 15px;
}

.action-buttons .secondary {
    position: relative;
}

.action-buttons .secondary::before {
    display: block;
    position: relative;
    bottom: -100%;
    content: '';
    height: 2px;
    width: calc(100% + 1.4em);
    background: var(--c-default-text);
}

.action-buttons .secondary::after {
    position: absolute;
    content: '->';
    right: -.1em;
    top: .9em;
}

.action-buttons .secondary:hover::after {
    animation: point .7s infinite alternate;
}

@keyframes point {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(.2em);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);

    }
}

@media only screen and (min-width: 775px) {
    #welcome {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8vw;
    }

    .me {
        margin-top: auto;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .headline {
        font-size: 4.5rem;
        width: 17rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .short-bio {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-width: 25rem;

    }

    #welcome h3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-top: auto;
    }
}
